/*   Styles home   */
#fond-home{
    background-image: url(../img/home/fond-search-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#fond-home a{
    background-color: #ffffff;
    color: #c0786e;
}

#fond-home  h2{
    margin-top: 25px;
    text-shadow: 0 3px 5px #555;
}

#icon-arrow{
    text-align: center;
}

#icon-arrow:hover{
    cursor: pointer;
}

.card-hover:hover{
    text-decoration: none;
    color: red;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btn-contact{
    background-color: #CC0033; 
    border-color: white;
}
#info-icon{
    /*background-image: url(../img/home/footer-background.png);*/
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.5em;
}
.img-size{
    height: 150px;
}
.img-size-2{
    height: 200px;
}
#img-size{
    width: 700px;
    height: 300px;
}
#navbar{
    background-color: rgba(0, 0, 0, 0);
}