{% extends 'base.html.twig' %}

{% block title %} Ajouter un bien {% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Ajouter un bien</h1>
        {# Include form #}
        {{ include('admin/form.html.twig') }}
    </div>

{% endblock %}