{% extends 'base.html.twig' %}

{% block title %} Editer un bien {% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Edition du bien</h1>
        {# Include form #}
        {{ include('admin/form.html.twig', {button: 'Editer'}) }}
    </div>

{% endblock %}