{% extends 'base.html.twig' %}

{% block title %} Admin !{% endblock %}

{% block body %}
    <div class="container mt-4 col-md-8">
        <h1>Panel Admin</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col">Nom du bien</th>
                </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td> <a href="/show/{{ property.id }}"><i class="fa fa-icon"></i><button class="btn btn-secondary"><i class="fa fa-eye fa-lg mr-2"></i>Voir</button></a> </td>
                    <td> <a href="/admin/edit/{{ property.id }}"><button class="btn btn-success"><i class="fa fa-pencil fa-lg mr-2"></i>Editer</button></a> </td>
                    <td> <a href="#"><button class="btn btn-danger"><i class="fa fa-trash-o fa-lg mr-2"></i>Supprimer</button></a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('add') }}"><button class="btn btn-primary"><i class="fa fa-plus fa-lg mr-2"></i>Ajouter un bien</button></a>
    </div>
{% endblock %}