{% extends 'base.html.twig' %}

{% block title %} Admin !{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Panel Admin</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                </tr>
            </thead>

            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td><a href="/admin/edit/{{ property.id }}"><button class="btn btn-success">Edit</button></a></td>
                    <td><a href="#"><button class="btn btn-danger">Supprimer</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}