{% extends 'base.html.twig' %}

{% block title %} Sylab ! {% endblock %}


{% block body %}
        <div class="jumbotron text-center">
            <h1>Les biens</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque in mollitia pariatur praesentium quae quasi suscipit ullam voluptatum! Consectetur dignissimos esse exercitationem magni minima molestiae nesciunt obcaecati provident sunt tenetur.</p>
        </div>

        <div class="container">
            <div class="row flex">
                <!-- Condition for -->
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="https://picsum.photos/300/200?image=0" alt="Card image cap">
                                <h5 class="card-title">
                                    <p class="text-center"> Titre de ta mere </p>
                                </h5>
                                <p class="card-text text-center"> City CodePostal </p>
                            <div class="text-primary text-center"> Prix </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}