{% extends 'base.html.twig' %}

{% block title %} Sylab ! {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Vendre</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque in mollitia pariatur praesentium quae quasi suscipit ullam voluptatum! Consectetur dignissimos esse exercitationem magni minima molestiae nesciunt obcaecati provident sunt tenetur.</p>
    </div>

        <div class="container">
            {{ form_start(form, 
                {'attr': {'novalidate': 'novalidate'}}) 
            }}

            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>

{% endblock %}