{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} Sylab ! {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('static/css/styles.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    <div class="jumbotron text-center">
        <h1>Vendre</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque in mollitia pariatur praesentium quae quasi suscipit ullam voluptatum! Consectetur dignissimos esse exercitationem magni minima molestiae nesciunt obcaecati provident sunt tenetur.</p>
    </div>

        <div class="container">
            <div class="row mt-5">
                    <div class="col-md-4">
                        <input type="file" id="add-photo" class="form-control-file" name="image" accept="image/*">
                    </div>

                    <div class="col-md-8">
                        {{ form_start(form, 
                            {'attr': {'novalidate': 'novalidate'}}) 
                        }}

                        {{ form_rest(form) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </form>

{% endblock %}