{% extends 'base.html.twig' %}

{% block title %} Sylab - Tu achètes !{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <h1>Titre du Bien</h1>
                    <h2> 2 pieces - 20 m2</h2>
                    <div class="text" style="font-size: 4rem;font-weight: bold;">20 000€</div>
                    <div class="btn btn-primary"> Contacter l'agence</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda consectetur, earum fugit iusto labore ut voluptas voluptatem? A cum dolorum impedit, laborum laudantium nobis optio qui quos ut voluptate.</p>
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-3">Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>60 m2</td>
                    </tr>
                    <tr>
                        <td>Piece</td>
                        <td>2 pieces</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>1 chambre</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>3ème</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>Gaz</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}